[submodule "lib/mac-dev-playbook"]
	path = lib/mac-dev-playbook
	url = git@github.com:warantesbr/mac-dev-playbook.git
[submodule "lib/laptop"]
	path = lib/laptop
	url = git@github.com:warantesbr/laptop.git
[submodule "dotfiles/_warantesbr"]
	path = dotfiles/_warantesbr
	url = git@github.com:warantesbr/dotfiles.git
[submodule "dotfiles/mathiasbynens"]
	path = dotfiles/mathiasbynens
	url = git@github.com:warantesbr/mathiasbynens-dotfiles.git
[submodule "dotfiles/geerlingguy"]
	path = dotfiles/geerlingguy
	url = git@github.com:warantesbr/geerlingguy-dotfiles.git
